<ion-content>
    <ion-slides pager="true" [options]="slideOpts" (ionSlideTouchEnd)="slideChanged($event)" #slides>
        <ion-slide>
            <img src="../../../assets/img/Slides/Diapositiva1.PNG">
        </ion-slide>
        <ion-slide>
            <img src="../../../assets/img/Slides/Diapositiva2.PNG">
        </ion-slide>
        <ion-slide>
            <img src="../../../assets/img/Slides/Diapositiva3.PNG">
        </ion-slide>
        <ion-slide>
            <img src="../../../assets/img/Slides/Diapositiva4.PNG">
        </ion-slide>
        <ion-slide>
            <img src="../../../assets/img/Slides/Diapositiva5.PNG">
        </ion-slide>
        <ion-slide>
            <img src="../../../assets/img/Slides/Diapositiva6.PNG">
        </ion-slide>
    </ion-slides>
</ion-content>